@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(11, 11, 12);
  --secondary-color: rgb(255, 255, 255);
  --primary-accent: rgb(181, 23, 158);
  --secondary-accent: rgb(58, 12, 163);
  --secondary-accent-variant: rgba(58, 12, 163, 0.3);
  --selection-color: rgb(76, 201, 240);
  --neutral-color: rgba(255, 255, 255, 0.5);
  --font-color: var(--secondary-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  background-color: var(--primary-color);
  color: var(--font-color);
  overflow-x: hidden;
}
.aura {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    var(--primary-accent) 20%,
    var(--secondary-accent) 90%
  );
  pointer-events: none; /* Make sure the aura doesn't block clicks */
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: -1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 0.2;
}
::-moz-selection {
  /* Code for Firefox */
  background: var(--selection-color);
}

::selection {
  color: var(--secondary-accent);
  background: var(--selection-color);
}

.navigation-list.active .horizontal-nav-line {
  width: 64px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
