@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0b0b0c;
  --secondary-color: #ffffff;
  --primary-accent: #b5179e;
  --secondary-accent: rgb(58, 12, 163);
  --secondary-accent-variant: rgba(58, 12, 163, 0.3);
  --selection-color: #4cc9f0;
  --neutral-color: rgba(255, 255, 255, 0.5);
  --font-color: var(--secondary-color);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

body {
  background-color: var(--primary-color);
  color: var(--font-color);
  overflow-x: hidden;
}
.aura {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    #b5179e 20%,
    rgb(58, 12, 163) 90%
  );
  pointer-events: none; /* Make sure the aura doesn't block clicks */
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: -1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 0.2;
}
::-moz-selection {
  /* Code for Firefox */
  background: var(--selection-color);
}

::selection {
  color: var(--secondary-accent);
  background: var(--selection-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
